*
!Dockerfile
!pyproject.toml
!docker/
!docker/constraints.txt
!tunnel_guard/
!tunnel_guard/*.py
!configs/
!configs/*.json
!rviz/
!rviz/*.rviz
!launch/
!launch/*.py
!tunnel_guard/review.html
!tunnel_guard/review_3d.html
!tunnel_guard/vendor/
!tunnel_guard/vendor/*.js
!tunnel_guard/vendor/*LICENSE.txt

!setup.py
!cpp/
!cpp/*.cpp
!cpp/*.h
!MANIFEST.in
