*
!Dockerfile
!pyproject.toml
!docker/
!docker/constraints.txt
!tunnel_guard/
!tunnel_guard/*.py
!configs/
!configs/*.json
!rviz/
!rviz/*.rviz
!launch/
!launch/*.py
!tunnel_guard/review.html
!tunnel_guard/review_3d.html
!SUSTechPOINTS/
!SUSTechPOINTS/public/
!SUSTechPOINTS/public/js/
!SUSTechPOINTS/public/js/lib/
!SUSTechPOINTS/public/js/lib/three.module.js
!SUSTechPOINTS/public/js/lib/OrbitControls.js
!SUSTechPOINTS/LICENSE

!setup.py
!cpp/
!cpp/*.cpp
!cpp/*.h
!MANIFEST.in
!uv.lock
!README.md
!docker/entrypoint.sh
!docs/
!docs/**
!ros2_ws/
!ros2_ws/**
